body {
    background: #e9f0e9 url('./img/predios.svg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.caixa {
    background-color: darkgreen;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    
}

img {
    width: 200px;

}

h2 {
    color: white;
    margin: 10px 0;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

hr {
    margin: 20px 0;
}